<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="glimpse" type="Glimpse.Core.Configuration.Section, Glimpse.Core" />
	</configSections>
	<glimpse defaultRuntimePolicy="On" endpointBaseUri="~/glimpse.axd">
		<tabs>
			<ignoredTypes>
				
			</ignoredTypes>
		</tabs>
	</glimpse>

</configuration>